*{
	margin:  0;
	padding: 0;
}
.limpiar{
	clear: both;
}
body{
	background: #CACAD9;
}
p{
	color:#31313F;
	font-family: arial;
	font-size: 12px;
	padding: 10px;
}
h1{
	 color: #646472;
	 font-family: verdana;
	 font-size: 30px;.
	 font-weight: bold;
	 padding: 10px;
}
h2{
	color: #646472;
	font-family: verdana;
	font-size: 25;
	font-weight: bold;
	padding: 10px;
}
h3{
  color: #FFF;
  background: #FFA30D;
  font-family: verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  padding-left: 10px;
  height: 45px;
}
h4{
	background: #3B3B3B;
	color: #FFF;
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
	line-height: 45px;
	padding: 10px 0;
	text-align: center;
}
h5{
	color: #31313F;
	font-family: verdana;
	font-size: 14px;
	padding: 10px 0 0 0;
}
h6{
	color: #000;
	font-size: 13px;
	font-family: verdana;
	padding: 10px 0 0 0;
}

#contsuperior{
	background: #619109 ;
    display:block;
    padding-bottom:10px ;
}

header{
	margin: auto;
	widt: 70%;
	height: 110px;
}

#logotipo{
	display: block;
	float: left;
	line-height: 110px;
	width:230px;
}

#logotipo img{
	max-width: 100%;
	vertical-align: middle;
	width:217px ;
}
#rsociales{
	display: block;
	float: right;
	line-height: 110px;
	width: 160px;
}
#rsociales img{
    border-radius: 100px;
    box-shadow: 2px 3px 5px #000;
    margin-left: 5px;
    vertical-align: middle;
    height: 40px;
    width: 40px;
}


/*--MENU--*/
nav{
	background: #FFA300;
	display: block;
	margin: auto;
	padding: 0;
	width: 70%;
	height: 45px;
}

nav ul{
   display: block;
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 45px;
}

nav li{
	float: left;
}
nav a{
	color: #FFF;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	display: block;
	padding: 0 15px;
	line-height: 45px;
	vertical-align: middle;
	text-decoration: none;
}
nav a:hover {
	color: #000;
	background: #B7D068;
}

#slider{
    margin: auto;
    background: #CCC;
    padding: 0 0 5px 0;
    width: 70%;
}

/*CONTENEDOR CONTENIDO*/
#interior{
	margin: auto;
	width: 70%;
}

#contenido{
  float: left;
  margin: 0;
  margin-bottom: 10px; 
  padding: 0;	
  width: 75%;
}

.contenido_inicio{
	background: #FFF;
	border: 1px solid #A2AAB4;
	line-height: 17px;
	margin-top: 10px;
	padding: 0;
	width: 100%;
}
.contenido_inicio img{
	padding: 10px;
	float: left;
	width: 30%;
}

.COMOEMPRESA{
	display: inline-block;
	width: 100%;
}
aside{
	background: -moz-linear-gradient(top,#B9B9C8,#CACAD9);
	background: -webkit-linear-gradient(top,#B9B9C8,#CACAD9);
   float: right;
   margin-left: 5px;
   margin-bottom: 5px;
   margin-top: 10px; 
   vertical-align: top;
   width: 23.5%;
}
aside img{
	margin: 0;
	padding: 10px 0 0 0;
	width: 100%;
}
aside p{
	margin: 0;
	padding: 0;
}
#coninferior{
	background: #3B3B3B;
	clear: both;
	display: block;
	width: 100%;
	height: 120px;
	
}
footer{
	display: block;
	margin: auto;
	padding: 0px;
	width: 70%;
}
#info{
	float: left;
	text-align: left;
	width: 50%;
}
#autor{
	float: right;
	text-align: right;
	width: 50%;
}
#info p, #autor p{
   color: #FFF;
   font-family: arial;
   font-size: 14px;
   font-weight: bold;
   padding-top: 30px;   
}
#autor a{
	color: #CCC;
	text-decoration: none;
}
#autor a:hover{
	color: #FF930D;
}

/*PROYECTOS*/
#vd{
	display: inline-block;
    width: 55%;
    float: right;
    margin: 10px 10px 0 1px;
}
.proyectos{
	background: #FFF;
	border: 1px solid #A2AAB4;
	margin-top: 10px;
	width: 100%;
}
.proyectos h1{
	display: block;
	float: left;
	width: 40%;
}
.proyectos p{
	line-height: 17px;
}
.proyect{
	float: left;
	padding: 10px 0 0 10px;
	width: 31%;
}
.proyect p{
    width: 100%;
    padding: 0 0 10px 0;
}
.proyect img{
	width: 99%;
}
/*GALERIA*/
.galeria{
	background: #FFF;
	border: 1px solid #A2AAB4;
    margin-top: 10px;
    width: 100%; 
}
.galeria img{
    box-shadow: 0px 0px 10px #000;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 2%;
    padding: 2%;
    opacity: .6;
    transition-duration: 1s;
    width: 25%;
}
.galeria img:hover{
	border-radius: 10%;
	transition-duration: 1s;
	opacity: 1;
}
/*----Contactos-----*/
.contenido_inicio span{
	font-size: 12px;
	font-weight: bold;

}
#frm_contacto{
	display: block;
	margin: auto;
	width: 65%;
}
#frm_contacto label{
	color: 9797A5;
	font-family: verdana;
	font-size: 14px;
    font-weight: bold;

}
#frm_contacto input{
     padding: 2px;
     font-size: 14px;
     margin: 5px 0 10px 0;
     width: 98%;
}
#frm_contacto textarea{
	padding: 2px;
	margin-top: 5px;
	resize: none;
	width: 98%;

}
#frm_contacto #enviar{
	cursor: pointer;
	font-family: verdana;
	font-size: 11px;
	height: 24px;
	width: 75px;

}
/***************************
/*DISEÑO 1200PX
/****************************/

@media screen and (max-width:  1200px){
    header, nav, footer, #silder, #interior{
    width: 90%;	
    }
    /**PROYECTOS**/
    #vd{
    	display: block;
    	float: none;
    	margin: auto;
    	width: 50%;
    }
    .proyect{
    	width: 31%;
    }
    .proyectos h1{
    	text-align: center;
    	width: 90%;
    }

}

/***************************
/*DISEÑO 760PX
/****************************/

@media screen and (max-width:  760px){
    header, nav, footer, #silder, #interior{
    	width: 97%;
    }
    #contenido, aside{
    	margin-top: 0;
    	width: 100%;
    }
    article img{
    	min-width: 160px;
    }
    aside img{
    	display: block;
    	margin: auto;
    	max-width: 200px;
    }
    #info p, #autor p{
    	font-weight: normal;
    	font-size: 10px;  
    }
/*PROYECTOS*/
    .proyect{
    	display: inline-block;
    	margin: auto;
    	width: 47.5%;

    }
    /*Galeria*/
    .galeria img{
    	width: 42%;

    }
}

/***************************
/*DISEÑO 640PX
/****************************/

@media screen and (max-width:  640px){
     /*INICIO*/
     h1{
     	font-size: 20px;
     }
     h2{
     	font-size: 18px;
     }
     h3{
     	font-size: 16px;
     }
     h4{
     	font-size: 12px;
     }
     h5{
     	font-size: 12px;
     }
     h6{
     	font-size: 12px;
     }
     header{
     	padding-top: 10px;
     }
     nav, nav ul{
     	height: auto;
     }
     nav li{
     	padding: 0;
     	margin: 0;
     	height: 40px;
     	float: none;
     }
     nav li a{
     	height: 40px;
     	border-bottom: 1px solid #FFF;
     	font-size: 13px;
     	margin: 0;
     	padding: 0;
     	text-align: center;
     }
     #logotipo, #rsociales{
        width: 100%;
        display: block;
     }
     #rsociales{
     	text-align: center;
     	height: 40px;
     	width: 100%;
     }
     #logotipo img{
       display: block;
       margin: auto;
       vertical-align: middle;
       width: 200px;
     }
     #rsociales img{
     	margin: auto;
     	margin-left: 5px;
     	vertical-align: top;
     	width: 30px;
     	height: 30px;
     }

     #slider{
   	    display: none;
      }

   }

/***************************
/*DISEÑO 480PX
/****************************/
@media screen and (max-width:  480px){
	.proyect{
		display: block;
		width: 95%;
	}
	.proyect img{
		display: block;
		margin: auto;
		max-width: 200px;
	}
	.proyect h6{
		text-align: center;
	}
	/*Galeria*/
	.galeria img {
		float: none;
		display: block;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 60%;
	}
	/*Formulario contacto*/
	#frm_contacto{
		width: 95%;

	}
}
    
